<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<a href="/" class="link"><i data-feather="arrow-left" class="plus exit"></i></a>
<form method="post" class="account">
    <div class="form-field">
        <input id="name" name="name" class="name" placeholder="Начальный баланс">
        <i data-feather="check" class="plus addBtn" id="add"></i>
    </div>
</form>
<form method="post" class="transaction">
    <div class="form-field">
        <input id="idaccaunt" name="idaccaunt" class="idaccaunt" placeholder="Id аккаунта на который совершена транзакция">
        <input id="description" name="description" class="description" placeholder="Комментарий к транзакции">
        <input id="ammount" name="ammount" class="ammount" placeholder="Сумма транзакции">
        <i data-feather="check" class="plus addBtn2" id="add2"></i>
    </div>
</form>
<div class="container">
    <table id="accounts">
        <tr>
            <th>id</th>
        </tr>
    </table>
</div>

</body>
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/add.js"></script>
</html>